* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  scroll-behavior: smooth;
}

.section {
  margin: 0 auto;
  position: relative;
  padding: 75px 0;
}

.section-home {
  margin: 0 auto;
  position: relative;
  padding: 75px 0;
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #f9e784;
}

.section-contact {
  margin: 0 auto;
  position: relative;
  padding: 75px 0;
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #f9e784;
}

.section:nth-of-type(odd) {
  background-color: #f1e8b8;
}
